<Config Version="1.19.8560.14065">
  <ROMfile>..\super_metroid.smc</ROMfile>
  <PatchQuickmet>true</PatchQuickmet>
  <SaveNames>true</SaveNames>
  <LevelBufferAmount>200</LevelBufferAmount>
  <EXLOROM>false</EXLOROM>
  <LoadASMonImportFromXML>true</LoadASMonImportFromXML>
  <ScanROMonImportFromROM>true</ScanROMonImportFromROM>
  <ApplyASMonImportFromROM>false</ApplyASMonImportFromROM>
  <LogLevel>Info</LogLevel>
  <RoomNameSpaceBankAny>
    <Space start="DFD500" end="DFFFFF" />
  </RoomNameSpaceBankAny>
  <UserFreeSpace>
    <Space start="80C4C5" end="80CD06" />
    <Space start="80CD8E" end="80FFBF" />
    <Space start="81A40E" end="81A545" />
    <Space start="81AA1C" end="81AA9F" />
    <Space start="81B71A" end="81EF19" />
    <Space start="82876C" end="828919" />
    <Space start="82964A" end="82965E" />
    <Space start="82966F" end="829716" />
    <Space start="829727" end="829E26" />
    <Space start="82C74D" end="82C7CA" />
    <Space start="82C83B" end="82CAA0" />
    <Space start="82F70F" end="83ABEF" />
    <Space start="83AD66" end="83FFFD" />
    <Space start="85869B" end="85FFFF" />
    <Space start="8CC383" end="8CD5DE" />
    <Space start="8CF3E9" end="8CFFFF" />
    <Space start="8F8000" end="8F9193" />
    <Space start="8F91F8" end="8FC115" />
    <Space start="8FC215" end="8FC8C6" />
    <Space start="8FC98E" end="8FE26B" />
    <Space start="8FE301" end="8FE51E" />
    <Space start="8FE6A2" end="8FE82B" />
    <Space start="8FE99A" end="8FFFFF" />
    <Space start="918885" end="9189FC" />
    <Space start="918ACE" end="919345" />
    <Space start="9193CC" end="919EE1" />
    <Space start="97E7DE" end="97F986" />
    <Space start="A18000" end="A1FFFF" />
    <Space start="A28687" end="A286A6" />
    <Space start="A28912" end="A28931" />
    <Space start="A28B60" end="A28B7F" />
    <Space start="A2998D" end="A299AC" />
    <Space start="A29E6A" end="A29E89" />
    <Space start="A2A38B" end="A2A3AA" />
    <Space start="A2A59E" end="A2A5BD" />
    <Space start="A2AFF3" end="A2B012" />
    <Space start="A2B20C" end="A2B22B" />
    <Space start="A2B264" end="A2B283" />
    <Space start="A2B2BC" end="A2B2DB" />
    <Space start="A2BA5B" end="A2BA9A" />
    <Space start="A2BE1C" end="A2BE3B" />
    <Space start="A2C0D1" end="A2C0F0" />
    <Space start="A2C5FA" end="A2C619" />
    <Space start="A2CA2B" end="A2CA4A" />
    <Space start="A2D80C" end="A2D82B" />
    <Space start="A2E17B" end="A2E19A" />
    <Space start="A2E2C0" end="A2E2DF" />
    <Space start="A2E457" end="A2E476" />
    <Space start="A2E57B" end="A2E59A" />
    <Space start="A2E978" end="A2E997" />
    <Space start="A2EDC7" end="A2EDE6" />
    <Space start="A2F49A" end="A2FFFF" />
    <Space start="A38687" end="A386A6" />
    <Space start="A388F0" end="A3890F" />
    <Space start="A38C0F" end="A38C2E" />
    <Space start="A3900A" end="A39029" />
    <Space start="A3965B" end="A3967A" />
    <Space start="A3980B" end="A3982A" />
    <Space start="A39B7B" end="A39BBA" />
    <Space start="A3A051" end="A3A070" />
    <Space start="A3A725" end="A3A744" />
    <Space start="A3AA48" end="A3AA67" />
    <Space start="A3AF85" end="A3AFA4" />
    <Space start="A3B085" end="A3B0C4" />
    <Space start="A3B217" end="A3B236" />
    <Space start="A3B3A1" end="A3B3C0" />
    <Space start="A3B5B3" end="A3B5D2" />
    <Space start="A3B702" end="A3B721" />
    <Space start="A3C63E" end="A3C65D" />
    <Space start="A3C8A6" end="A3C8C5" />
    <Space start="A3DA9C" end="A3DABB" />
    <Space start="A3DFA2" end="A3DFC1" />
    <Space start="A3E23C" end="A3E25B" />
    <Space start="A3E57C" end="A3E59B" />
    <Space start="A3E5B0" end="A3E5EF" />
    <Space start="A3E9AF" end="A3E9CE" />
    <Space start="A3F313" end="A3FFFF" />
    <Space start="A4B87D" end="A4B89C" />
    <Space start="A4F6C0" end="A4FFFF" />
    <Space start="A5A1F7" end="A5A216" />
    <Space start="A5E359" end="A5E378" />
    <Space start="A5F960" end="A5FFFF" />
    <Space start="A68687" end="A686A6" />
    <Space start="A68B09" end="A68B28" />
    <Space start="A68CFB" end="A68D1A" />
    <Space start="A69470" end="A6948F" />
    <Space start="A6998C" end="A699AB" />
    <Space start="A6E14F" end="A6E16E" />
    <Space start="A6E1AF" end="A6E1CE" />
    <Space start="A6E23F" end="A6E25E" />
    <Space start="A6F4EC" end="A6F50B" />
    <Space start="A6FEBC" end="A6FFFF" />
    <Space start="A78687" end="A786A6" />
    <Space start="A7CA01" end="A7CA20" />
    <Space start="A7E7FE" end="A7E81D" />
    <Space start="A7F225" end="A7F244" />
    <Space start="A7FF82" end="A7FFFF" />
    <Space start="A88687" end="A886A6" />
    <Space start="A88F8C" end="A88FAB" />
    <Space start="A89379" end="A89398" />
    <Space start="A8959D" end="A895BC" />
    <Space start="A899AC" end="A899CB" />
    <Space start="A89F4F" end="A89F6E" />
    <Space start="A8AAFE" end="A8AB1D" />
    <Space start="A8AC1C" end="A8AC3B" />
    <Space start="A8B65E" end="A8B67D" />
    <Space start="A8C143" end="A8C162" />
    <Space start="A8C6B3" end="A8C6D2" />
    <Space start="A8D821" end="A8D840" />
    <Space start="A8DBC7" end="A8DBE6" />
    <Space start="A8E230" end="A8E24F" />
    <Space start="A8E587" end="A8E5A6" />
    <Space start="A8E7AC" end="A8E7CB" />
    <Space start="A8E99A" end="A8E9F9" />
    <Space start="A8F9BE" end="A8FFFF" />
    <Space start="A99472" end="A99491" />
    <Space start="A9D6BC" end="A9D6DB" />
    <Space start="A9EBAC" end="A9EBCB" />
    <Space start="A9F8A6" end="A9F8C5" />
    <Space start="A9F8E6" end="A9F905" />
    <Space start="A9FB70" end="A9FFFF" />
    <Space start="AA8687" end="AA86A6" />
    <Space start="AAD745" end="AAD764" />
    <Space start="AAD911" end="AAD930" />
    <Space start="AAE2BD" end="AAE2DC" />
    <Space start="AAE31D" end="AAE33C" />
    <Space start="AAF7D5" end="ABE9FF" />
    <Space start="ABF800" end="ADA5FF" />
    <Space start="ADB600" end="ADDDFF" />
    <Space start="ADF444" end="AFE1FF" />
    <Space start="AFE800" end="AFFFFF" />
    <Space start="B0EE00" end="B1FFFF" />
    <Space start="B28687" end="B28746" />
    <Space start="B2FEAA" end="B2FFFF" />
    <Space start="B38687" end="B386A6" />
    <Space start="B3878B" end="B387AA" />
    <Space start="B389FD" end="B38A1C" />
    <Space start="B38AC1" end="B38AE0" />
    <Space start="B38EDC" end="B38EFB" />
    <Space start="B39319" end="B39338" />
    <Space start="B3E525" end="B3E544" />
    <Space start="B3E944" end="B3E963" />
    <Space start="B3ED80" end="B492C5" />
    <Space start="B4DD89" end="B5EFFF" />
    <Space start="B98000" end="B9A633" />
    <Space start="BAC629" end="C18DA9" />
    <Space start="C1B6F6" end="DED1BF" />
    <Space start="DF8000" end="DFD4DE" />
    <Space start="E08000" end="FFFFFF" />
  </UserFreeSpace>
  <UserReservedSpace>
    <Space start="A28000" end="A28686" />
    <Space start="A38000" end="A38686" />
    <Space start="A48000" end="A48686" />
    <Space start="A58000" end="A58686" />
    <Space start="A68000" end="A68686" />
    <Space start="A78000" end="A78686" />
    <Space start="A88000" end="A88686" />
    <Space start="A98000" end="A98686" />
    <Space start="AA8000" end="AA8686" />
    <Space start="B28000" end="B28686" />
    <Space start="B38000" end="B38686" />
  </UserReservedSpace>
  <ScannedFreeSpace>
    <Space start="80C4C5" end="80CD02" />
    <Space start="80CD92" end="80FFBB" />
    <Space start="81A412" end="81A541" />
    <Space start="81AA1C" end="81AA7B" />
    <Space start="81AA94" end="81AA9F" />
    <Space start="81B71A" end="81EFB9" />
    <Space start="81F016" end="81FEFB" />
    <Space start="82876C" end="828919" />
    <Space start="82964A" end="82965D" />
    <Space start="82966F" end="829714" />
    <Space start="829727" end="829E22" />
    <Space start="82C83B" end="82CAA2" />
    <Space start="82F713" end="83ABEB" />
    <Space start="83AD6A" end="83FFFF" />
    <Space start="84F03E" end="85807F" />
    <Space start="85869B" end="85FFFF" />
    <Space start="86F4AA" end="86FFFF" />
    <Space start="87AD68" end="87FFFF" />
    <Space start="88EECC" end="88F5FB" />
    <Space start="88F951" end="88FFFF" />
    <Space start="89AF01" end="89BFFB" />
    <Space start="89C016" end="89FFFF" />
    <Space start="8AE984" end="8AFFFF" />
    <Space start="8BF770" end="8BFFFF" />
    <Space start="8CC383" end="8CD5DA" />
    <Space start="8CD91F" end="8CDC96" />
    <Space start="8CE9E9" end="8CEBE8" />
    <Space start="8CF3E9" end="8CFFFF" />
    <Space start="8DFFF4" end="8EDBFF" />
    <Space start="8EE400" end="8EE5FF" />
    <Space start="8EE684" end="8F918F" />
    <Space start="8F91FC" end="8FC111" />
    <Space start="8FC219" end="8FC8C2" />
    <Space start="8FC992" end="8FE2B1" />
    <Space start="8FE305" end="8FE51A" />
    <Space start="8FE6A6" end="8FE856" />
    <Space start="8FE99E" end="8FFFFF" />
    <Space start="90F63E" end="90FFFF" />
    <Space start="918885" end="918A2E" />
    <Space start="918AD2" end="919341" />
    <Space start="9193D0" end="919EDD" />
    <Space start="92EDF8" end="92FFFF" />
    <Space start="93F621" end="93FFFF" />
    <Space start="94B1A3" end="94C7FB" />
    <Space start="94DC04" end="94DFFB" />
    <Space start="97E7E1" end="97F982" />
    <Space start="99EE24" end="99FFFF" />
    <Space start="9AFC24" end="9AFFFF" />
    <Space start="9BCBFF" end="9BDFFB" />
    <Space start="9BFDA4" end="9BFFFF" />
    <Space start="9CFA84" end="9CFFFF" />
    <Space start="9DF784" end="9DFFFF" />
    <Space start="9EF6C4" end="9EFFFF" />
    <Space start="9FF744" end="9FFFFF" />
    <Space start="A0CEBF" end="A0F13E" />
    <Space start="A0F153" end="A1FFFF" />
    <Space start="A28687" end="A286A6" />
    <Space start="A28912" end="A28931" />
    <Space start="A28B60" end="A28B7F" />
    <Space start="A2998D" end="A299AC" />
    <Space start="A29E6A" end="A29E89" />
    <Space start="A2A38B" end="A2A3AA" />
    <Space start="A2A59E" end="A2A5BD" />
    <Space start="A2AFF3" end="A2B012" />
    <Space start="A2B20C" end="A2B22B" />
    <Space start="A2B264" end="A2B283" />
    <Space start="A2B2BC" end="A2B2DB" />
    <Space start="A2BA5B" end="A2BA9A" />
    <Space start="A2BE1C" end="A2BE3B" />
    <Space start="A2C0D1" end="A2C0F0" />
    <Space start="A2C5FA" end="A2C619" />
    <Space start="A2CA2B" end="A2CA4A" />
    <Space start="A2D80C" end="A2D82B" />
    <Space start="A2E17B" end="A2E19A" />
    <Space start="A2E2C0" end="A2E2DF" />
    <Space start="A2E457" end="A2E476" />
    <Space start="A2E57B" end="A2E59A" />
    <Space start="A2E978" end="A2E997" />
    <Space start="A2F49C" end="A2FFFF" />
    <Space start="A38687" end="A386A6" />
    <Space start="A388F0" end="A3890F" />
    <Space start="A38C0F" end="A38C2E" />
    <Space start="A3900A" end="A39029" />
    <Space start="A3965B" end="A3967A" />
    <Space start="A3980B" end="A3982A" />
    <Space start="A39B7B" end="A39BBA" />
    <Space start="A3A051" end="A3A070" />
    <Space start="A3A725" end="A3A744" />
    <Space start="A3AA48" end="A3AA67" />
    <Space start="A3AF85" end="A3AFA4" />
    <Space start="A3B085" end="A3B0C4" />
    <Space start="A3B217" end="A3B236" />
    <Space start="A3B3A1" end="A3B3C0" />
    <Space start="A3B5B3" end="A3B5D2" />
    <Space start="A3B702" end="A3B721" />
    <Space start="A3C63E" end="A3C65D" />
    <Space start="A3C8A6" end="A3C8C5" />
    <Space start="A3DA9C" end="A3DABB" />
    <Space start="A3DFA2" end="A3DFC1" />
    <Space start="A3E23C" end="A3E25B" />
    <Space start="A3E57C" end="A3E59B" />
    <Space start="A3E5B0" end="A3E5CF" />
    <Space start="A3F315" end="A3FFFF" />
    <Space start="A4B87D" end="A4B89C" />
    <Space start="A4F6C4" end="A4FFFF" />
    <Space start="A5A1F7" end="A5A216" />
    <Space start="A5E359" end="A5E378" />
    <Space start="A5F95E" end="A5FFFF" />
    <Space start="A68687" end="A686A6" />
    <Space start="A68B09" end="A68B28" />
    <Space start="A68CFB" end="A68D1A" />
    <Space start="A69470" end="A6948F" />
    <Space start="A6998C" end="A699AB" />
    <Space start="A6E14F" end="A6E16E" />
    <Space start="A6E1AF" end="A6E1CE" />
    <Space start="A6F4EC" end="A6F50B" />
    <Space start="A6FEC0" end="A6FFFF" />
    <Space start="A78687" end="A786A6" />
    <Space start="A7CA01" end="A7CA20" />
    <Space start="A7E7FE" end="A7E81D" />
    <Space start="A7F225" end="A7F244" />
    <Space start="A88687" end="A886A6" />
    <Space start="A88F8C" end="A88FAB" />
    <Space start="A89379" end="A89398" />
    <Space start="A8959D" end="A895BC" />
    <Space start="A899AC" end="A899CB" />
    <Space start="A89F4F" end="A89F6E" />
    <Space start="A8AAFE" end="A8AB1D" />
    <Space start="A8AC1C" end="A8AC3B" />
    <Space start="A8B65E" end="A8B67D" />
    <Space start="A8C143" end="A8C162" />
    <Space start="A8C6B3" end="A8C6D2" />
    <Space start="A8D821" end="A8D840" />
    <Space start="A8DBC7" end="A8DBE6" />
    <Space start="A8E230" end="A8E24F" />
    <Space start="A8E587" end="A8E5A6" />
    <Space start="A8E7AC" end="A8E7CB" />
    <Space start="A8E99A" end="A8E9B9" />
    <Space start="A8F9C2" end="A8FFFF" />
    <Space start="A99472" end="A99491" />
    <Space start="A9D6BC" end="A9D6DB" />
    <Space start="A9EBAC" end="A9EBCB" />
    <Space start="A9F8A6" end="A9F8C5" />
    <Space start="A9F8E6" end="A9F905" />
    <Space start="A9FB74" end="A9FFFF" />
    <Space start="AA8687" end="AA86A6" />
    <Space start="AAD745" end="AAD764" />
    <Space start="AAD911" end="AAD930" />
    <Space start="AAE2BD" end="AAE2DC" />
    <Space start="AAE31D" end="AAE33C" />
    <Space start="AAF7D7" end="ABE9FB" />
    <Space start="ABF804" end="ADA5FF" />
    <Space start="ADB604" end="ADDDFB" />
    <Space start="ADF448" end="AFE1FB" />
    <Space start="AFE804" end="AFFFFF" />
    <Space start="B093F3" end="B0B7FB" />
    <Space start="B0BA04" end="B0BFFB" />
    <Space start="B0C804" end="B1FFFF" />
    <Space start="B28687" end="B28746" />
    <Space start="B2FEAE" end="B2FFFF" />
    <Space start="B38687" end="B386A6" />
    <Space start="B3878B" end="B387AA" />
    <Space start="B389FD" end="B38A1C" />
    <Space start="B38AC1" end="B38AE0" />
    <Space start="B38EDC" end="B38EFB" />
    <Space start="B39319" end="B39338" />
    <Space start="B3E525" end="B3E544" />
    <Space start="B3E944" end="B3E963" />
    <Space start="B3ED7B" end="B492C1" />
    <Space start="B4DD89" end="B5FFFF" />
    <Space start="B6F303" end="B6FBFB" />
    <Space start="B78004" end="B78FFB" />
    <Space start="B7A800" end="B7CDFF" />
    <Space start="B7E304" end="B9A759" />
    <Space start="B9A83D" end="B9D569" />
    <Space start="B9D5DB" end="B9D997" />
    <Space start="B9E1B6" end="B9E94E" />
    <Space start="B9EA83" end="B9F11C" />
    <Space start="B9F1CB" end="B9F70C" />
    <Space start="B9F952" end="B9FF4D" />
    <Space start="BA8081" end="BA9022" />
    <Space start="BA9389" end="BAC61F" />
    <Space start="BAC62C" end="C0D1BB" />
    <Space start="C1B6F9" end="C2D1BB" />
    <Space start="CEB231" end="CEFFFF" />
    <Space start="DED1C4" end="DFFFFF" />
    <Space start="E09004" end="E6F92E" />
    <Space start="E6F932" end="FDAD2A" />
    <Space start="FDAD2E" end="FFFFFF" />
  </ScannedFreeSpace>
  <ASMUsedSpaceBankAny>
    <Space start="8095A7" end="8095A9" />
    <Space start="809803" end="809805" />
    <Space start="8098FF" end="809908" />
    <Space start="80993F" end="809948" />
    <Space start="80997F" end="809988" />
    <Space start="809AF3" end="809AF6" />
    <Space start="80A153" end="80A156" />
    <Space start="80B0FF" end="80B243" />
    <Space start="80CD8E" end="80CE24" />
    <Space start="819E6D" end="819E7A" />
    <Space start="81A3C4" end="81A3C6" />
    <Space start="81A3D6" end="81A3D8" />
    <Space start="81A3DF" end="81A3E1" />
    <Space start="81A3E3" end="81A3E5" />
    <Space start="81A3ED" end="81A3EF" />
    <Space start="81A3F2" end="81A3F4" />
    <Space start="81A40E" end="81A525" />
    <Space start="81A79F" end="81A7A6" />
    <Space start="81A7B1" end="81A7B4" />
    <Space start="81A7BC" end="81A7BE" />
    <Space start="81A7D3" end="81A7D6" />
    <Space start="81A7E5" end="81A7E7" />
    <Space start="81A823" end="81A825" />
    <Space start="81AB00" end="81AB02" />
    <Space start="81AD1D" end="81AD20" />
    <Space start="81AD56" end="81AD5F" />
    <Space start="81AD88" end="81AD8B" />
    <Space start="81AED4" end="81AED6" />
    <Space start="81AEE6" end="81AEE8" />
    <Space start="81AEFC" end="81AEFE" />
    <Space start="81AF0E" end="81AF10" />
    <Space start="81AF13" end="81AF14" />
    <Space start="81AF1F" end="81AF31" />
    <Space start="81AFD3" end="81AFF3" />
    <Space start="81B14B" end="81B2CA" />
    <Space start="828067" end="82806A" />
    <Space start="828D1A" end="828D1C" />
    <Space start="828D38" end="828D3A" />
    <Space start="828D6A" end="828D6B" />
    <Space start="828D6F" end="828D70" />
    <Space start="828DB1" end="828DB3" />
    <Space start="828EB1" end="828EB2" />
    <Space start="828ED1" end="828ED2" />
    <Space start="828EE2" end="828EE3" />
    <Space start="828EF3" end="828EF5" />
    <Space start="828F13" end="828F15" />
    <Space start="828F33" end="828F35" />
    <Space start="828FF8" end="828FFB" />
    <Space start="829009" end="829026" />
    <Space start="82902B" end="8290BB" />
    <Space start="8290FA" end="8290FC" />
    <Space start="82910A" end="82910C" />
    <Space start="829125" end="829127" />
    <Space start="82912C" end="829132" />
    <Space start="829156" end="82915C" />
    <Space start="829200" end="829202" />
    <Space start="82925D" end="829323" />
    <Space start="82935B" end="82935D" />
    <Space start="8293D8" end="8293D9" />
    <Space start="8293E2" end="8293E4" />
    <Space start="8293FB" end="8293FC" />
    <Space start="82943D" end="829451" />
    <Space start="829455" end="829456" />
    <Space start="82945A" end="82953F" />
    <Space start="829547" end="829627" />
    <Space start="829E27" end="82A099" />
    <Space start="82A0B6" end="82A0B7" />
    <Space start="82A0BD" end="82A0BE" />
    <Space start="82A106" end="82A108" />
    <Space start="82A383" end="82A385" />
    <Space start="82A3BF" end="82A3C4" />
    <Space start="82A512" end="82A522" />
    <Space start="82AB56" end="82ABB9" />
    <Space start="82AC2D" end="82AC2E" />
    <Space start="82B200" end="82B202" />
    <Space start="82B6D7" end="82B6DA" />
    <Space start="82B6E2" end="82B6E4" />
    <Space start="82B747" end="82B74A" />
    <Space start="82B74E" end="82B751" />
    <Space start="82B792" end="82B795" />
    <Space start="82B849" end="82B84C" />
    <Space start="82B881" end="82B883" />
    <Space start="82B8DC" end="82B8DF" />
    <Space start="82B8FE" end="82B901" />
    <Space start="82B91F" end="82B928" />
    <Space start="82B942" end="82B944" />
    <Space start="82B954" end="82B956" />
    <Space start="82B96A" end="82B96C" />
    <Space start="82B97C" end="82B97E" />
    <Space start="82B981" end="82B982" />
    <Space start="82B98D" end="82B99F" />
    <Space start="82B9F7" end="82B9FA" />
    <Space start="82BB67" end="82BB6A" />
    <Space start="82C3AF" end="82C3D8" />
    <Space start="82C581" end="82C588" />
    <Space start="82C599" end="82C59A" />
    <Space start="82DFC2" end="82DFC5" />
    <Space start="82E310" end="82E352" />
    <Space start="82E488" end="82E491" />
    <Space start="82E643" end="82E646" />
    <Space start="82EA6B" end="82EA6E" />
    <Space start="82F70F" end="82F736" />
    <Space start="83AC26" end="83AC27" />
    <Space start="83AC46" end="83AD65" />
    <Space start="8488AA" end="8488AD" />
    <Space start="848CA6" end="848CAC" />
    <Space start="85C000" end="85C240" />
    <Space start="8880B2" end="8880B3" />
    <Space start="8883D2" end="8883D5" />
    <Space start="88A7D8" end="88A815" />
    <Space start="88AD76" end="88AF37" />
    <Space start="88D992" end="88D999" />
    <Space start="88D9B3" end="88D9D8" />
    <Space start="88EE32" end="88EEC7" />
    <Space start="88F600" end="88F773" />
    <Space start="89C000" end="89C011" />
    <Space start="8AB180" end="8AB4D7" />
    <Space start="8BBE5F" end="8BBE61" />
    <Space start="8BCAFE" end="8BCB03" />
    <Space start="8BF760" end="8BF76B" />
    <Space start="8DEAE2" end="8DEB29" />
    <Space start="8DF7A9" end="8DF7F4" />
    <Space start="8EE4A2" end="8EE4BF" />
    <Space start="8EE4C2" end="8EE4DF" />
    <Space start="8EE4E2" end="8EE4FF" />
    <Space start="8EE600" end="8EE67F" />
    <Space start="8F91C9" end="8F91CD" />
    <Space start="8FC116" end="8FC11A" />
    <Space start="8FC120" end="8FC123" />
    <Space start="8FE99B" end="8FE9B7" />
    <Space start="90A7EE" end="90A7F0" />
    <Space start="90A840" end="90A841" />
    <Space start="90A844" end="90A845" />
    <Space start="90A848" end="90A849" />
    <Space start="90A864" end="90A883" />
    <Space start="90A8C2" end="90A8C2" />
    <Space start="90A8DF" end="90A8EA" />
    <Space start="90A8EF" end="90ABF7" />
    <Space start="90AC0C" end="90AC1B" />
    <Space start="90DF7F" end="90DF81" />
    <Space start="90E734" end="90E737" />
    <Space start="90E801" end="90E804" />
    <Space start="90E873" end="90E876" />
    <Space start="90E8E5" end="90E8E8" />
    <Space start="90E8F8" end="90E8FB" />
    <Space start="91F1D9" end="91F1DB" />
    <Space start="9BCA00" end="9BCA02" />
    <Space start="A7C244" end="A7C245" />
    <Space start="B6E000" end="B6EFFF" />
    <Space start="B6F200" end="B6F2FF" />
    <Space start="B6FC00" end="B6FFFF" />
    <Space start="E08000" end="E08FFF" />
  </ASMUsedSpaceBankAny>
  <PLMBank>
    <option>Default</option>
    <patch>false</patch>
    <bank>0x8F</bank>
  </PLMBank>
  <PLMScrollBank>
    <option>Default</option>
    <patch>false</patch>
    <bank>0x8F</bank>
  </PLMScrollBank>
  <ScrollBank>
    <option>Default</option>
    <patch>false</patch>
    <bank>0x8F</bank>
  </ScrollBank>
  <EnemyTypeBank>
    <option>Default</option>
    <patch>false</patch>
    <bank>0xB4</bank>
  </EnemyTypeBank>
  <EnemyBank>
    <banks>
      <Area1>0xA1</Area1>
      <Area2>0xA1</Area2>
      <Area3>0xA1</Area3>
      <Area4>0xA1</Area4>
      <Area5>0xA1</Area5>
      <Area6>0xA1</Area6>
      <Area7>0xA1</Area7>
      <Area8>0xA1</Area8>
    </banks>
    <option>Default</option>
    <patch>false</patch>
  </EnemyBank>
  <StateConditions>
    <StateCondition TestCodeAddress="E5E6">
      <Arguments />
      <Name>Default (no condition)</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E5EB">
      <Arguments>
        <ArgType Name="Incoming Door" Type="Door" Action="IncomingDoor" />
      </Arguments>
      <Name>Incoming door</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E5FF">
      <Arguments>
        <ArgType Name="Event" Action="Areas" FixedValue="0" />
      </Arguments>
      <Name>Area main boss is dead</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E60F">
      <Arguments />
      <Name>Never (always false)</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E612">
      <Arguments>
        <ArgType Name="Event Bit" Type="Byte" Action="Events" />
      </Arguments>
      <Name>Event bit is set</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E629">
      <Arguments>
        <ArgType Name="Boss Type" Type="Byte" Action="Areas" />
      </Arguments>
      <Name>Boss type is dead</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E640">
      <Arguments>
        <ArgType Name="Equipment" Action="Equipment" FixedValue="4" />
      </Arguments>
      <Name>Morphball collected</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E652">
      <Arguments>
        <ArgType Name="Equipment" Action="Equipment" FixedValue="4" />
        <ArgType Name="Missiles" Action="MaxMissiles" FixedValue="1" />
      </Arguments>
      <Name>Morphball and missiles collected</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E669">
      <Arguments>
        <ArgType Name="Power Bombs" Action="MaxPowerBombs" FixedValue="1" />
      </Arguments>
      <Name>Power bombs collected</Name>
    </StateCondition>
    <StateCondition TestCodeAddress="E678">
      <Arguments>
        <ArgType Name="Equipment" Action="Equipment" FixedValue="512" />
      </Arguments>
      <Name>Speed booster collected</Name>
    </StateCondition>
  </StateConditions>
</Config>